.pagina {
    display: grid;
    height: 297mm;
    width: 210mm;
    page-break-after: always;
    background-color: white;
    grid-template-rows: 1fr 1fr 4fr 1fr 2fr;
    grid-row-gap: 3mm;
}
.pagina > div {
    width: 95%;
    margin: 0 auto;
}

.encabezado {
    display: flex;
    justify-content: center;
}
.encabezado .titulo {
    text-align: center;
    font-size: 4em; /*16px = 1 em*/
}
.encabezado img {
    width: 20%;
}
/* imagen invertida horizontal, toma flip. */
.encabezado img:last-child{
    transform: scaleX(-1);
}

.datos {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}
.datos_empresa, .datos_cliente {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45%;
}
.datos_empresa div:nth-child(odd), .datos_cliente div:nth-child(odd) {
    font-weight: bold;
}
.datos_empresa div:nth-child(even), .datos_cliente div:nth-child(even) {
    font-family: sans-serif;
}

.compra {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr;
    background: url(logo_opacidad.svg);
}
.compra .titulo_compra {
    font-weight: bold;
}
.compra div:nth-child(12n+1), .compra div:nth-child(12n+2), .compra div:nth-child(12n+3),
.compra div:nth-child(12n+4), .compra div:nth-child(12n+5), .compra div:nth-child(12n+6){
    background-color: rgba(120, 120, 120, 0.2);
}
.compra div {
    min-height: 4mm;
}

.total {
    display: flex;
    justify-content: flex-end;
}
.total .calculo {
    width: 15%;
    text-align: end;
    font-size: 1.5em;
}

.footer {
    display: flex;
    justify-content: space-around;
}
.footer .firma {
    font-family: cursive;
    font-size: 2em;
    transform: rotate3d(1, 1, 1, -10deg);
}